@import "../../../../utils//colors";

.container {
  height: 91vh;

  .footer {
    background-color: $footer-color;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
  }
}
