$white-color: #ffffff;
$dark-red-color: #c21b1b;
$footer-color: #340c53c4;
$grey-color: #dbdbdb;
$grey-shaddow-color: #919191;
$black-color: #000;
$rose-color: #9124bc;
$orange-color: #ff7200;
$black-shadow-color: #00000029;
$red-color: #f0072a;
